
/android/node_modules/
/android/android/
.android/
/android/.gradle/
*.apk
*.keystore


/backend/target/
/backend/.mvn/
/backend/.gradle/
*.class
*.jar
*.war
*.ear


/backend/.idea/
/backend/.project
/backend/.classpath
/backend/.settings/
/backend/.vscode/

/backend/logs/
/backend/*.log
/backend/*.tmp


.DS_Store
Thumbs.db


/admin/node_modules/
*.log


.idea/
.vscode/
*.tmp
*.iws
*.iml
*.ipr